<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>第三方授权</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}"/>
</head>

<body>
<nav class="navbar navbar-default container-fluid">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">开放平台</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
            <p class="navbar-text navbar-right">
                <a target="_blank" href="https://www.whxiaoyu.com">技术支持</a>
            </p>
            <p class="navbar-text navbar-right">
                <a target="_blank" href="https://www.whxiaoyu.com">芜湖小鱼</a>
            </p>
        </div>
    </div>
</nav>
<div style="padding-top: 80px;width: 300px; color: #555; margin:0px auto;">
    <form name='confirmationForm' th:action="@{/oauth2/authorize}" method='post'>
        <input type="hidden" name="client_id" th:value="${clientId}">
        <input type="hidden" name="state" th:value="${state}">
        <input type="hidden" th:each="scope:${scopes}" th:name="scope" th:value="${scope.scope}">
        <p>
            <a href="#" target="_blank">[[${clientName}]]</a> 将获得以下权限：</p>
        <ul class="list-group">
            <li class="list-group-item">
                <div th:each="scope:${scopes}">
                    <input type="checkbox" th:value="${scope.scope}" disabled checked/>
                    <label th:text="${scope.description}">昵称，头像和性别</label>
                </div>
                <div th:each="scope:${previouslyApprovedScopes}">
                    <input type="checkbox" th:value="${scope.scope}" disabled checked/>
                    <label th:text="${scope.description}">昵称，头像和性别</label>
                </div>
            </li>
        </ul>
        <p class="help-block">授权后表明你已同意 <a>服务协议</a></p>
        <button class="btn btn-success pull-right" type="submit" id="write-email-btn">授权</button>
        </p>
    </form>
</div>
<footer>
    <p>support by: www.whxiaoyu.com</p>
    <p>email: <a href="mailto:whxiaoyu123@gmail.com">whxiaoyu123@gmail.com</a>.</p>
</footer>
</body>
</html>
